@font-face {
  font-family: "Switzerland";
  src: url("./ttf/Switzerland.ttf");
}
@font-face {
  font-family: "Cyrene";
  src: url("./ttf/Cyrene+Regular.otf");
}
* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #b9b5ac;
}

.header {
  background-image: url(./img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -52px;
  /* background: linear-gradient(#b4ada2, #b9b5ac); */
  height: 2200px;
  width: 100%;
}
.nav-bar {
  display: block;
  align-items: center;
  position: sticky;
  top: 0;
  margin: auto;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #b9b5ac;
  z-index: 2;
  font: bold 1.5rem "Cyrene";
  /* box-shadow: 0 0 30px black; */
}

.nav-menu a {
  color: black;
  text-decoration: none;
  width: fit-content;
}
.nav-menu,
.socials {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.nav-menu a {
  padding: 1.2em 2vmax;
  white-space: nowrap;
}
.nav-menu a:hover {
  background-color: #dedfe1;
  transition: 1s;
}

.socials a {
  margin: 4%;
  width: 2.2vw;
  background-repeat: no-repeat;
}

#maps {
  content: url("./img/location.png");
}
#twitter {
  content: url("./img/twitter.png");
}
#instagram {
  content: url("./img/instagram.png");
}

.title {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-top: 6em;
}
.title :hover {
  color: whitesmoke;
  font-size: 9em;
  transition: 1.5s cubic-bezier(0.43, 0.11, 0.43, 1.02);
}
.title h1 {
  transition: 1.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);

  transition-delay: 1.5s;
  font: 8em "Switzerland";
}
.center {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  /* background-color: maroon; */
  background-image: url(./img/foreground.png);
  box-shadow: 0 0 30px black;
  min-height: 2037px;
  height: 2037px;
  width: 960px;
  min-width: 960px;
  max-width: 960px;
  margin: 367px auto -190px;
  z-index: 1;
  transition: 1.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.row-1 {
  height: 820px;
  display: flex;
  flex-direction: row;
}
.card {
  width: 50%;
  text-align: center;
  padding: 30px;
}
.card-title {
  margin-top: 30px;
  height: 190px;
  font: 3.7em "Cyrene";
  color: whitesmoke;
}
.card-subtitle {
  height: 90px;
  font: 3.9em "Switzerland";
  color: whitesmoke;
}
.card-subtitle:hover {
  color: black;
}
.card-text {
  display: inline-block;
  height: 300px;
  max-height: 300px;
  font: 1.3em sans-serif;
  padding: 20px 20px 50px 20px;
  margin: 10px;
}
.card a {
  float: none;
}

.row-2 {
  height: 580px;
}
.row-3 {
  height: 640px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.row-3 .col-1 {
  text-align: right;
}
.review-card {
  padding: 30px;
}
.rewiew-head {
  margin-bottom: 40px;
  font: 2.2em "Cyrene", sans-serif;
}
.rewiew-text {
  font: 1.3em sans-serif;
  padding-left: 50px;
}
.readmore-btn {
  color: black;
  text-decoration: none;
  font: 1.7em sans-serif;
  width: fit-content;
  float: right;
  margin: 2vmax 0 2vmax;
  padding: 15px;
  background-color: #dedfe1;
}
.readmore-btn:hover {
  color: whitesmoke;
  background-color: black;
}
.col-2 {
  padding: 30px;
}
.col-2 h2 {
  font: 2.2em "Cyrene", sans-serif;
  padding-bottom: 70px;
}
.business-card {
  display: grid;
  grid-template-columns: 2fr 4fr;
  margin: 20px;
}
.profile-data {
  margin: 20px;
  font: 1.2em sans-serif;
}
.footter {
  height: 600px auto;
  width: 100%;
  background-color: #3a2815;
  text-align: center;
  display: grid;
}
.submit-form {
  margin-top: 11em;
  margin-bottom: 5em;
}
.submit-form h2 {
  color: whitesmoke;
  font: 2.8em "Cyrene", sans-serif;
  margin: 0.7em;
  align-self: right;
}
form {
  margin: auto;
}
.form-grid {
  display: grid;
  grid-template-columns: 5fr 7fr;
  margin: auto;
  width: 960px;
  height: auto;
}
.form-grid input,
textarea {
  height: 7.3rem;
  margin: 10px;
  padding-left: 20px;
  border-style: none;
  background-color: #7b6746;
  border-radius: 5px;
  color: black;
  font: 1.2em sans-serif;
}
textarea {
  resize: vertical;
  padding-top: 15px;
}
.form-contacts {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.form-contacts input {
  height: 3rem;
}
.submit-btn {
  border-style: none;
  color: black;
  text-decoration: none;
  font: 1.7em sans-serif;
  width: fit-content;
  margin: 20px;
  padding: 15px;
  background-color: #dedfe1;
  border-radius: 4px;
}
.contacts {
  margin: 3em;
}
.contacts span {
  margin: 0.7em;
  color: aliceblue;
  font: 1.3em sans-serif;
}
